* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.barra {
  background-color: rgba(45, 124, 185, 0.421);
  font-size: xx-large; }

.CP {
  font-size: 140%;
  font-style: italic;
  color: #031c6d; }

.navbar {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.514);
  text-align: center;
  display: flex;
  justify-content: space-evenly; }

.navbar li a {
  color: black;
  text-decoration: none; }

.navbar li a:visited {
  color: #730a73; }

.navbar li a:hover {
  color: blue;
  text-decoration: underline; }

.navbar li {
  display: inline; }

body {
  background-image: url(https://images.unsplash.com/photo-1488998427799-e3362cec87c3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: none;
  background-size: 100%; }

main h1 {
  background-color: rgba(255, 255, 255, 0.56); }

body main section span {
  color: white;
  background-color: rgba(0, 0, 0, 0.568); }

.cursosIndex {
  color: white;
  background-color: rgba(2, 2, 78, 0.548);
  text-align: center; }

.bannerBimbo {
  text-align: center; }

.bannerBimbo img {
  width: 50%;
  height: 100px; }

.textonegro p {
  background-color: rgba(236, 242, 245, 0.673); }

.cursosIndex a {
  color: white;
  text-decoration: none; }

.textoBackColor {
  background-color: rgba(203, 203, 203, 0.748); }

.imagePer {
  width: 300px;
  height: 340px;
  border: 1px solid black;
  border-radius: 30px;
  overflow: hidden;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.696);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.462);
  text-align: center; }

.cv1 {
  margin-top: 35px; }

.imagePer img {
  filter: grayscale(1); }

.imagePer img:hover {
  filter: none; }

.imagePer div {
  width: 100%;
  height: 60%; }

.imagePer img {
  width: 100%;
  height: 100%; }

.imagePerInfo {
  color: black; }

.imgPatagonia {
  display: flex;
  align-items: center;
  margin-left: 200px; }

.textoh1 {
  text-align: center; }

.bodyAleman {
  background-image: url(https://images.unsplash.com/photo-1595181766648-0d0fbe2142f5?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: none;
  background-size: 100%; }

.imagePer {
  width: 300px;
  height: 340px;
  border: 1px solid black;
  border-radius: 30px;
  overflow: hidden;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.696);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.462);
  text-align: center; }

.cv1 {
  margin-top: 35px; }

.imagePer img {
  filter: grayscale(1); }

.imagePer img:hover {
  filter: none; }

.imagePer div {
  width: 100%;
  height: 60%; }

.imagePer img {
  width: 100%;
  height: 100%; }

.imagePerInfo {
  color: black; }

.textoh1 {
  text-align: center; }

.cv ul li {
  text-align: left;
  margin-top: 5%; }

.bodyCont {
  background-image: url(https://media.istockphoto.com/id/1395272050/es/foto/mensaje-de-conexi%C3%B3n-de-comunicaci%C3%B3n-a-los-contactos-de-correo-electr%C3%B3nico-tel%C3%A9fono-concepto.jpg?s=1024x1024&w=is&k=20&c=_IJwx7t-hfdX_ouCaO-HFNZ0gH3tllWp8lsscuVaQcg=);
  background-repeat: none;
  background-size: 100%; }

.imagePer {
  width: 300px;
  height: 340px;
  border: 1px solid black;
  border-radius: 30px;
  overflow: hidden;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.696);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.462);
  text-align: center; }

.cv1 {
  margin-top: 35px; }

.imagePer img {
  filter: grayscale(1); }

.imagePer img:hover {
  filter: none; }

.imagePer div {
  width: 100%;
  height: 60%; }

.imagePer img {
  width: 100%;
  height: 100%; }

.imagePerInfo {
  color: black; }

form input {
  border: none;
  border-bottom: 1px solid black; }

form input:focus {
  background-color: lightblue;
  border: none; }

form input::placeholder {
  color: red; }

.bodyGui {
  background-image: url(https://images.unsplash.com/photo-1541689592655-f5f52825a3b8?q=80&w=1850&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: none;
  background-size: 100%; }

.imagePer {
  width: 300px;
  height: 340px;
  border: 1px solid black;
  border-radius: 30px;
  overflow: hidden;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.696);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.462);
  text-align: center; }

.cv1 {
  margin-top: 35px; }

.imagePer img {
  filter: grayscale(1); }

.imagePer img:hover {
  filter: none; }

.imagePer div {
  width: 100%;
  height: 60%; }

.imagePer img {
  width: 100%;
  height: 100%; }

.imagePerInfo {
  color: black; }

.textoh1 {
  text-align: center; }

.cv ul li {
  text-align: left;
  margin-top: 5%; }

.bodyIns {
  background-image: url(https://images.unsplash.com/photo-1588702547919-26089e690ecc?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: none;
  background-size: 100%; }

.imagePer {
  width: 300px;
  height: 340px;
  border: 1px solid #9b1111;
  border-radius: 30px;
  overflow: hidden;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.696);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.462);
  text-align: center; }

.cv1 {
  margin-top: 35px; }

.imagePer img {
  filter: grayscale(1); }

.imagePer img:hover {
  filter: none; }

.imagePer div {
  width: 100%;
  height: 60%; }

.imagePer img {
  width: 100%;
  height: 100%; }

.imagePerInfo {
  color: black; }

form input {
  border: none;
  border-bottom: 1px solid black; }

form input:focus {
  background-color: lightblue;
  border: none; }

form input::placeholder {
  color: red; }

.bodyMake {
  background-image: url(https://images.unsplash.com/photo-1596462502278-27bfdc403348?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: none;
  background-size: 100%; }

.imagePer {
  width: 300px;
  height: 340px;
  border: 1px solid black;
  border-radius: 30px;
  overflow: hidden;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.696);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.462);
  text-align: center; }

.cv1 {
  margin-top: 35px; }

.imagePer img {
  filter: grayscale(1); }

.imagePer img:hover {
  filter: none; }

.imagePer div {
  width: 100%;
  height: 60%; }

.imagePer img {
  width: 100%;
  height: 100%; }

.imagePerInfo {
  color: black; }

.cv ul li {
  text-align: left;
  margin-top: 5%; }

.bodyNos {
  background-image: url(https://plus.unsplash.com/premium_photo-1678453147886-3ea4eb762e8d?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: none;
  background-size: 100%; }

.imagePer {
  width: 300px;
  height: 340px;
  border: 1px solid black;
  border-radius: 30px;
  overflow: hidden;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.696);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.462);
  text-align: center; }

.cv1 {
  margin-top: 35px; }

.imagePer img {
  filter: grayscale(1); }

.imagePer img:hover {
  filter: none; }

.imagePer div {
  width: 100%;
  height: 60%; }

.imagePer img {
  width: 100%;
  height: 100%; }

.imagePerInfo {
  color: black; }

.bodyPer {
  background-image: url(https://plus.unsplash.com/premium_photo-1682148866439-af4c07208d51?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: none;
  background-size: 100%; }

.imagePer {
  width: 300px;
  height: 340px;
  border: 1px solid black;
  border-radius: 30px;
  overflow: hidden;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.696);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.462);
  text-align: center; }

.cv1 {
  margin-top: 35px; }

.imagePer img {
  filter: grayscale(1); }

.imagePer img:hover {
  filter: none; }

.imagePer div {
  width: 100%;
  height: 60%; }

.imagePer img {
  width: 100%;
  height: 100%; }

.imagePerInfo {
  color: black; }

.titCursoOnline p {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.433); }

.textoh1 {
  text-align: center; }

.cv ul li {
  text-align: left;
  margin-top: 5%; }

.textoFoot p {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.375); }

.cardCursos {
  width: 18rem;
  height: 22rem;
  background-color: white;
  margin: 5px;
  border-radius: 15px; }

.cardCursos img {
  height: 12rem; }

.card-body p {
  color: black; }

.card-body h5 {
  color: black; }

.boton {
  color: black;
  text-decoration: black;
  background-color: black; }

.boton :hover {
  color: blue; }

.boton:active {
  background-color: chartreuse; }

.titCursoOnline p {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.433); }

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

@media (max-width: 768px) {
  .barra {
    background-color: rgba(45, 124, 185, 0.421);
    font-size: x-large; }
  .CP {
    font-size: 120%;
    font-style: italic;
    color: #031c6d;
    margin-left: 35%; }
  .cardCursos {
    width: 12rem;
    height: 15rem;
    background-color: white;
    margin: 5px;
    border-radius: 15px; }
  .cardCursos img {
    height: 6rem; }
  .card-body p {
    color: black;
    font-size: small; }
  .card-body h5 {
    color: black;
    font-size: small; }
  .botonCard {
    font-size: small; }
  .imagePer {
    height: 180px;
    width: 180px; }
  .imagePerInfo h3 {
    font-size: smaller; }
  .textoFoot p {
    font-size: smaller; }
  .cv {
    font-size: 9.2px;
    text-align: center;
    margin-left: -10px; }
  .cv1 {
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: -14px;
    list-style: none; }
  .listaPer {
    list-style: none; }
  .textoh1 {
    font-size: smaller; } }

@media (max-width: 425px) {
  .barra {
    background-color: rgba(45, 124, 185, 0.421);
    font-size: 20px; }
  .CP {
    font-size: 100%;
    font-style: italic;
    color: #031c6d;
    margin-left: 27%; }
  .cardCursos {
    width: 8rem;
    height: 12rem;
    background-color: white;
    margin: 5px;
    border-radius: 15px; }
  .cardCursos img {
    height: 5rem; }
  .card-body p {
    color: black;
    font-size: x-small; }
  .card-body h5 {
    color: black;
    font-size: xx-small; }
  .botonCard {
    font-size: x-small; }
  .titCursoOnline p {
    font-size: small; }
  .textoCurso span {
    font-size: x-small; }
  .imagePer {
    height: 120px;
    width: 120px;
    border-radius: 10px; }
  .imagePerInfo h3 {
    font-size: x-small; }
  .textoFoot p {
    font-size: smaller; }
  .cv {
    font-size: 7px;
    text-align: center;
    margin-left: -10px; }
  .cv1 {
    font-size: 7px;
    text-align: center;
    margin-top: 0px;
    margin-left: -14px;
    list-style: none; }
  .cv2 {
    font-size: xx-small; }
  .listaPer {
    list-style: none; }
  .textoh1 {
    font-size: smaller; } }
