.bodyPer{
    background-image: url(https://plus.unsplash.com/premium_photo-1682148866439-af4c07208d51?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: none;
    background-size: 100%;

}
.imagePer{
    width: 300px;
    height: 340px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    overflow: hidden;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.696);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.462);
    text-align: center;
}
.cv1{ 
margin-top: 35px;
}

.imagePer img{
    filter: grayscale(1)
}
.imagePer img:hover{
    filter:none
}
.imagePer div{
    width: 100%;
    height: 60%;
}

.imagePer img{ 
    width: 100%;
    height: 100%;

}
.imagePerInfo{
    color: black;
}

.titCursoOnline p{
    color: white;
text-align: center;
background-color: rgba(0, 0, 0, 0.433);
}
.textoh1{
    text-align: center;
}
.cv ul li{
    text-align: left;
    margin-top: 5%;
}
.accordion-item{

    background-color: rgba(255, 255, 255, 0.442);
}

