$imagen-body :(
    img1: url(https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGVzdHVkaWFyfGVufDB8fDB8fHww),
    img2: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D),
    img3: url(https://images.unsplash.com/photo-1488998427799-e3362cec87c3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    
);

$imagen-bodyIns: (
    img4: url(https://media.istockphoto.com/id/1224371626/es/foto/teclado-port%C3%A1til-azul-de-primer-plano-con-bot%C3%B3n-de-registro-en-l%C3%ADnea.jpg?s=1024x1024&w=is&k=20&c=rlATjET3QZHtWJEm6fvqVmnyT2I08D6-M2OjHpwRJ7M=),
    img5: url(https://images.unsplash.com/photo-1588702547919-26089e690ecc?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D),
    img6: url(https://images.unsplash.com/photo-1563013544-824ae1b704d3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
);

$colores :(
    color1: rgba(0, 0, 0, 0.568),
    color2: rgba(65, 0, 0, 0.555),
    color3: rgba(2, 2, 78, 0.548)
)