@media (max-width:425px){

    .barra {
        background-color: rgba(45, 124, 185, 0.421);
        font-size: 20px;
    }
    .CP{
        font-size: 100%;
        font-style: italic;
        color: rgb(3, 28, 109);
        margin-left: 27%;    
    }
    .cardCursos{
        width: 8rem;
        height: 12rem;
        background-color: white;
        margin: 5px;
        border-radius: 15px;
    }

    .cardCursos img{ 
    height: 5rem;
    }
    .card-body p{
        color: black;

        font-size: x-small;

    }
    .card-body h5{
        color: black;

        font-size: xx-small;
    }
    .botonCard{
        font-size: x-small;
    }
.titCursoOnline p{
    font-size: small;
}
.textoCurso span{
    font-size: x-small;
}

.imagePer {
    height: 120px;
    width: 120px;
    border-radius: 10px;
}
.imagePerInfo h3{
    font-size: x-small;
}
.textoFoot p{
    font-size: smaller;
}



.cv{
    font-size:7px;
    text-align: center;
    margin-left: -10px;

}
.cv1{
    font-size: 7px;
    text-align: center;
    margin-top: 0px;
    margin-left: -14px;
    list-style: none;

}
.cv2{
    font-size: xx-small
}
.listaPer {
    list-style: none;
}
.textoh1{
    font-size: smaller;
}
} 